binds {
    MOD+ALT+L { spawn "dms" "ipc" "call" "lock" "lock"; }
    MOD+M { spawn "dms" "ipc" "call" "processlist" "focusOrToggle"; }
    MOD+N { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    MOD+SHIFT+N { spawn "dms" "ipc" "call" "notepad" "toggle"; }
    MOD+SPACE { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    MOD+V { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    MOD+X { spawn "dms" "ipc" "call" "powermenu" "toggle"; }
    MOD+Y { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    MOD+1 { focus-workspace 1; }
    MOD+2 { focus-workspace 2; }
    MOD+3 { focus-workspace 3; }
    MOD+4 { focus-workspace 4; }
    MOD+5 { focus-workspace 5; }
    MOD+6 { focus-workspace 6; }
    MOD+7 { focus-workspace 7; }
    MOD+8 { focus-workspace 8; }
    MOD+9 { focus-workspace 9; }
    MOD+CTRL+1 { move-column-to-workspace 1; }
    MOD+CTRL+2 { move-column-to-workspace 2; }
    MOD+CTRL+3 { move-column-to-workspace 3; }
    MOD+CTRL+4 { move-column-to-workspace 4; }
    MOD+CTRL+5 { move-column-to-workspace 5; }
    MOD+CTRL+6 { move-column-to-workspace 6; }
    MOD+CTRL+7 { move-column-to-workspace 7; }
    MOD+CTRL+8 { move-column-to-workspace 8; }
    MOD+CTRL+9 { move-column-to-workspace 9; }
    MOD+CTRL+J cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+CTRL+K cooldown-ms=150 { move-column-to-workspace-up; }
    MOD+CTRL+WHEELSCROLLDOWN cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+CTRL+WHEELSCROLLUP cooldown-ms=150 { move-column-to-workspace-up; }
    MOD+J cooldown-ms=150 { focus-workspace-down; }
    MOD+K cooldown-ms=150 { focus-workspace-up; }
    MOD+TAB { focus-workspace-previous; }
    MOD+WHEELSCROLLDOWN cooldown-ms=150 { focus-workspace-down; }
    MOD+WHEELSCROLLUP cooldown-ms=150 { focus-workspace-up; }
    CTRL+ALT+Print { screenshot-window; }
    MOD+C { center-column; }
    MOD+CTRL+C { center-visible-columns; }
    MOD+CTRL+DOWN { move-window-down; }
    MOD+CTRL+F { maximize-window-to-edges; }
    MOD+CTRL+H { move-column-left; }
    MOD+CTRL+L { move-column-right; }
    MOD+CTRL+LEFT { move-column-left; }
    MOD+CTRL+RIGHT { move-column-right; }
    MOD+CTRL+SHIFT+WHEELSCROLLDOWN { move-column-right; }
    MOD+CTRL+SHIFT+WHEELSCROLLUP { move-column-left; }
    MOD+CTRL+UP { move-window-up; }
    MOD+CTRL+WHEELSCROLLLEFT { move-column-left; }
    MOD+CTRL+WHEELSCROLLRIGHT { move-column-right; }
    MOD+DOWN { focus-window-down; }
    MOD+EQUAL { set-column-width "+10%"; }
    MOD+F { fullscreen-window; }
    MOD+H { focus-column-left; }
    MOD+L { focus-column-right; }
    MOD+LEFT { focus-column-left; }
    MOD+MINUS { set-column-width "-10%"; }
    MOD+Q { close-window; }
    MOD+R { switch-preset-column-width; }
    MOD+RIGHT { focus-column-right; }
    MOD+SHIFT+CTRL+DOWN { move-column-to-monitor-down; }
    MOD+SHIFT+CTRL+LEFT { move-column-to-monitor-left; }
    MOD+SHIFT+CTRL+RIGHT { move-column-to-monitor-right; }
    MOD+SHIFT+CTRL+UP { move-column-to-monitor-up; }
    MOD+SHIFT+DOWN { focus-monitor-down; }
    MOD+SHIFT+EQUAL { set-window-height "+10%"; }
    MOD+SHIFT+LEFT { focus-monitor-left; }
    MOD+SHIFT+MINUS { set-window-height "-10%"; }
    MOD+SHIFT+R { switch-preset-window-height; }
    MOD+SHIFT+RIGHT { focus-monitor-right; }
    MOD+SHIFT+UP { focus-monitor-up; }
    MOD+SHIFT+WHEELSCROLLDOWN { focus-column-right; }
    MOD+SHIFT+WHEELSCROLLUP { focus-column-left; }
    MOD+T { toggle-window-floating; }
    MOD+UP { focus-window-up; }
    MOD+W { toggle-column-tabbed-display; }
    MOD+WHEELSCROLLLEFT { focus-column-left; }
    MOD+WHEELSCROLLRIGHT { focus-column-right; }
    MOD+SHIFT+P { power-off-monitors; }
    CTRL+Print { screenshot-screen; }
    Print { screenshot; }
    CTRL+ALT+DELETE { quit; }
    MOD+B { spawn "yandex-browser-stable"; }
    MOD+E { spawn "dolphin"; }
    MOD+RETURN { spawn "alacritty"; }
    MOD+SHIFT+T { spawn "/home/borrow/Telegram/Telegram"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86Calculator { spawn "kcalc"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl set 10%-"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl set +10%"; }
    XF86PowerOff allow-when-locked=true { spawn-sh "~/.config/waybar/scripts/custom-power.sh"; }
    MOD+ESCAPE allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    MOD+O { toggle-overview; }
    MOD+SHIFT+ESCAPE { show-hotkey-overlay; }
}
